/********** Header **********/
.header-image {
    height: 9em;
}

/********** Product cards **********/
.thumbnail-image img {
    width: 100%;
    height: auto;
}

.price {
    font-size: 0.9em;
    font-weight: 500;
}









