
@media screen and (max-width: 900px){ 
    .card {
        width: 40%; /* Adjust the width for smaller screens */
    }

    .row {
        flex-wrap: wrap;
        align-items: center;
    } 

}


@media screen and (max-width: 500px){ 
    .card {
        width: 75%; /* Adjust the width for smaller screens */
    }

    .row {
        flex-wrap: wrap;
        align-items: center;
    } 

}