/********** Shipping style **********/
.shipping-page-text {
    padding: 5% 5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/********** Header **********/
.header-image {
    height: 9em;
}

/********** Table **********/
table {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    letter-spacing: 0.03em;
}
table tr td:first-child,
table tr th:first-child {
    font-weight: bold; /* Example font-weight */
    color: rgb(0, 0, 0);
    border-right-style: double;
}

.shipping-table-head {
    border-bottom-style: double;
}

table tr:nth-child(even) td{
    background-color: rgb(247, 240, 248);
}

table,
td,
th {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);

}
td,
th {
    padding: 10px;
}

.armax-line{
    font-family:'Courier New', Courier, monospace;
    font-size: 0.8em;
    text-align: left;
    margin-top: 0px;
}


/********** Link **********/
.shipping-page-text a {
    color: black;
    text-decoration: underline;
}

#aramax {
    color: rgb(33, 33, 148);
}

.aramax:hover {
  color:brown;
}

.make-order {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(234, 217, 198);
}

.cardDetails{
    padding: 3% 0%;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    background-color: rgb(246, 239, 231);
}


.customerDetails{
    padding-right: 2%;
}

.formDiv {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 1.8% 1.8%;
    border: 2px dashed rgb(5, 0, 10);
    border-radius: 15px;
    margin: 8% 5%;
}

.formColumns{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none; 
    padding: 0; 
}

.formColumns li{
    flex:1;
}

.customerDetails li {
    list-style: none;
    margin-bottom: 7%;
    text-align: left;
}

.cardDetails li {
    list-style: none;
    margin-bottom: 7%;
    text-align: left;
}

form{
    align-items: center;
    font-size: 0.8em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.pay {
    padding: 10px 10px 0px 40px;
    background-color: beige;
    width:100%;
}

.approve{
    margin-bottom: 0px;
    width: 100%;
}
.payDetails {
    font-weight: bold;
    font-family: Century Gothic;
}

input{
    margin-right: 5%;
    display: inline-block;
}

form label{
    margin-right: 2%;
    display: inline-block;
}

.map{
    width: 40%;
    height: 100%;
}