/********** Overall styling **********/
.shipping-page-text {
    padding: 30px 90px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/********** Header **********/
.header-image {
    height: 150px;
}

/********** Table **********/
table {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    letter-spacing: 0.03em;
}


table tr td:first-child,
table tr th:first-child {
    font-weight: bold; /* Example font-weight */
    color: rgb(0, 0, 0);
    border-right-style: double;
}

.shipping-table-head {
    border-bottom-style: double;
}

table tr:nth-child(even) td{
    background-color: rgb(247, 240, 248);
}

table,
td,
th {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);

}

td,
th {
    padding: 10px;
}

.armax-line{
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    text-align: left;
    margin-top: 0px;
}

/********** Link **********/
.shipping-page-text a {
    color: black;
    text-decoration: underline;
}

#aramax {
    color: rgb(33, 33, 148);
}

.aramax:hover {
  color:brown;
}

.make-order {
    text-align: left;
    margin-left: 10px;
    font-size: large;
    font-weight: bold;
}

.form {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    border: 2px dashed rgb(5, 0, 10);
    border-radius: 15px;
    margin: 15px 0px 15px 0px;
}

form li {
    list-style: none;
    margin-bottom: 25px;
    text-align: left;
}

form{
    display: flex;
    flex-direction: column; /* Arrange items in a column (one below the other) */
    align-items: flex-start; /* Align items to the start of the column */
}

.pay {
    padding: 10px 10px 0px 40px;
    background-color: beige;
    width:100%;
}

.approve{
    margin-bottom: 0px;
    width: 100%;
}

.payDetails {
    font-weight: bold;
    font-family: Century Gothic;
}

input{
    margin-right: 40px;
    display: inline-block;
}

form label{
    margin-right: 2px;
    display: inline-block;
}

.map{
    max-width: 300px;
    max-height: 250px;
}

